﻿html, body {
    font-family: 'Proxima Soft';
    height: 100%;
    width: 100%;
}

#mapid {
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#informations {
    position: absolute;
    bottom: 20px;
    left: 12px;
    width: 280px;
    border: none;
    border-radius: 4px;
    padding: 8px 30px; /* Some padding */
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    z-index: 500;
}

.iconBtn {
    border: none;
    border-radius: 4px;
    padding: 8px 30px; /* Some padding */
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    top: 120px;
    z-index: 500;
}

.iconBtn2 {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 120px;
    width: 385px;
    left: 11px;
    z-index: 500;
    -moz-box-shadow: 0 0 10px 2px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 0 0 10px 2px rgb(0 0 0 / 5%);
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 5%);
}

.iconBtn:hover {
   background-color: rgb(244, 244, 244);
}

.subIconBtn {
    padding: 10px 0px;
    color: #AAAAAA;
}
.iconTime {
    font-weight: 500;
    color: #4A4A4A;
    font-family: 'Proxima Soft';
    font-weight: 600;
}

.btn-light {
    background-color: #fff;
}

.leaflet-touch .leaflet-locationiq-control.leaflet-locationiq-expanded {
    width: 385px !important;
}
.text-sombre {
    color: #4A4A4A;
}